<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <v-col>
                    <v-card shaped animate__animated animate__fade>
                        <v-card-title class="bg-primary text-white text-center">
                            <b>Dites ce que vous voulez</b>
                        </v-card-title>
                        <v-list-item class="bg-white">
                            <v-col cols="12" sm="12">
                                <v-text-field
                                    filled
                                    label="Montant"
                                >
                                </v-text-field>
                            </v-col>
                        </v-list-item>

                        <v-list-item>
                            <v-col cols="6" sm="6" md="6">
                                <v-currency-select
                                    v-model="selectedCurrency"
                                >

                                </v-currency-select>
                            </v-col>

                            <v-col cols="6">
                                <v-currency-select
                                    v-model="selectCurrency2"
                                >

                                </v-currency-select>
                            </v-col>
                        </v-list-item>

                        <v-list-item>
                            <v-col cols="12" sm="3" md="6">
                                <!--<md-checkbox class="md-primary" v-model="boolean">Primary</md-checkbox>-->
                            </v-col>
                        </v-list-item>

                        <v-list-item>
                            <v-col cols="12" sm="3" md="6">
                                <v-select
                                    :items="items"
                                    filled
                                    label="Filled style"
                                    dense
                                ></v-select>
                            </v-col>
                        </v-list-item>
                    </v-card>
                </v-col>
            </div>
            <div class="col-md-6">
                <img src="/images/ban.png" alt="" class="img-responsive" width="500" height="500">
            </div>
        </div>
    </div>
</template>

<script>
    import vCurrencySelect from "vue-currency-select";

    export default {
        name: "Home",
        components: {
            vCurrencySelect
        },
        data() {
            return {
                name: 'Home',
                selectedCurrency: "EUR",
                selectCurrency2: "USD",
                loading: "",
                items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
                boolean: true,
                show: true
            }
        }
    }
</script>

<style scoped>

</style>
