<template>
    <div class="container-fluid" style="background-color: #f1f1ef">
        <div class="row">
            <div class="col-md-9 bg-white px-3">
                <div class="">
                    <h1 class="">Nous vous attendons ! <unicon name="fire" fill="orange" height="100px"></unicon></h1>
                </div>
                <div class="mt-1 py-5">
                    <v-col cols="6">
                        <v-text-field
                            v-model="nom"
                            label="Votre nom"
                        >
                        </v-text-field>

                        <v-text-field
                            v-model="prenom"
                            label="Votre Prenom"
                        >
                        </v-text-field>

                        <v-text-field
                            v-model="email"
                            label="Email"
                        ></v-text-field>

                        <v-text-field
                            label="Mot de passe"
                            type="password"
                            model="password"
                        ></v-text-field>

                        <v-text-field
                            label="Numero de telephone"
                            v-model="numero"
                        ></v-text-field>
                    </v-col>
                </div>

                <div class="mt-6">
                    <v-btn class="bg-primary text-white" rounded @click="inscription">Inscription</v-btn>
                </div>
            </div>


            <div class="col-md-3 bg-white" style="height: auto; min-height: 200px; box-shadow: 1px 0px 9px 0px">
               <div class="pt-6">
                   <h4 class="" style="margin-top: 145px">Abonnez-vous à notre newsletter et ne ratez plus nos dernières actualités !</h4>
               </div>

                <div class="mt-6">
                    <v-col cols="12" class="px-5 py-6">
                        <v-text-field
                            label="Votre email"
                        >
                        </v-text-field>
                    </v-col>
                </div>

                <div>
                    <v-col cols="12" class="px-5 py-6 text-center" style="margin-top: 85px">
                        <v-btn class="bg-primary text-white" rounded>M'abonner</v-btn>
                    </v-col>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import api from "../api";

    export default {
        name: "Inscription",
        data() {
            return {
                nom: "",
                prenom: "",
                email: "",
                numero: ""
            }
        },
        methods: {
            inscription() {
                axios.post(`${api.base_url}/api/adhesion`, {
                    nom: this.nom,
                    prenom: this.prenom,
                    email: this.email,
                    numero: this.numero
                }).then(s => {
                    if (s.status === 201) {
                        this.$swal({
                            text: s.data.message,
                            title: 'Confirmation!',
                            icon: 'success',
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
